*.gem
.bundle/
coverage/
.env
.idea/
log/*.log
pkg/
test/dummy/db/*.sqlite3
test/dummy/db/*.sqlite3-journal
test/dummy/log/*.log
test/dummy/node_modules/
test/dummy/yarn-error.log
test/dummy/storage/
test/dummy/tmp/
test/dummy/public/packs/
tmp/

# Ignore master key for decrypting credentials and more.
/config/master.key
test/dummy/config/master.key
