.horizontal-form-label
  = f.object.title
.horizontal-form-content
  = f.fields_for :partable, f.object.partable do |ff|
    .input-group
      = ff.date_field :date, class: 'conference-datepicker'
      = ff.time_field :time, value: ff.object&.time&.strftime('%R')
