.well
  .table-container
    %table.table
      %thead
        %tr
          %th= Spina::Admin::Conferences::Delegate.human_attribute_name :name
          %th= Spina::Admin::Conferences::Delegate.human_attribute_name :email_address
          %th= Spina::Admin::Conferences::Delegate.human_attribute_name :institution
          %th

      %tbody= render delegates.presence || 'empty_list', message: t('.no_delegates')
