.well
  .table-container
    %table.table
      %thead
        %tr
          %th= Spina::Admin::Conferences::Presentation.human_attribute_name :conference
          %th= Spina::Admin::Conferences::Presentation.human_attribute_name :title
          %th= Spina::Admin::Conferences::Presentation.human_attribute_name :presenters
          %th

      %tbody= render presentations.presence || 'empty_list', message: t('.no_presentations')
