- content_for(:header_actions) do
  = link_to new_admin_conferences_room_path, class: %w[button button-primary], style: 'margin-right: 0' do
    = icon 'plus'
    = t '.new'

= render partial: 'rooms', object: @rooms
