.multiple.select-dropdown
  z-index: 0
  &:before
    content: none
  select
    padding: 11px 10px
    width: 100%

.turbo-progress-bar
  @import spina/configuration
  background-color: $primary-color
