%tr{ data: { dietary_requirement_id: dietary_requirement.id } }
  %td= link_to dietary_requirement.name, edit_admin_conferences_dietary_requirement_path(dietary_requirement)
  %td.align-right
    = link_to edit_admin_conferences_dietary_requirement_path(dietary_requirement), class: %w[button button-small button-link] do
      = icon 'pencil-outline'
      = t 'spina.edit'
