.Subhead.Subhead--spacious
  %h2.Subhead-heading= t :'.title'

= render minutes, list_item_class: %w[d-flex flex-items-center], name: 'Minutes' do |minutes|
  = render 'minutes_item', minutes: minutes
