.Subhead.Subhead--spacious
  %h2.Subhead-heading= t :'.title'

= render partner_societies, list_item_class: %w[d-flex flex-column flex-sm-row-reverse my-4], name: 'Partner societies' do |partner_society|
  = render 'partner_society', partner_society: partner_society
