- content_for :admin_header do
  %header#header
    #header_actions
      = yield(:header_actions)

    = render partial: 'spina/admin/shared/breadcrumbs'

= render template: 'layouts/spina/admin/conferences/application'
