#presenters.tab-content.well
  .table-container
    %table.table
      %thead
        %tr
          %th= Spina::Admin::Conferences::Delegate.human_attribute_name :name
          %th= Spina::Admin::Conferences::Delegate.human_attribute_name :email_address
          %th= Spina::Admin::Conferences::Delegate.human_attribute_name :institution
          %th

      %tbody
        = render @presentation.presenters.any? ? @presentation.presenters : 'empty_list', message: t('spina.admin.conferences.presenters.no_presenters')
