#rooms.tab-content.well
  .table-container
    %table.table
      %thead
        %tr
          %th= Spina::Conferences::Room.human_attribute_name :building
          %th= Spina::Conferences::Room.human_attribute_name :number
          %th

      %tbody
        - if @institution.rooms.any?
          = render partial: 'spina/admin/conferences/shared/room', collection: @rooms

        - else
          %tr
            %td.align-center{ colspan: 100 }
              %em= t('spina.conferences.rooms.no_rooms')
