#presentation_types.tab-content.well
  .table-container
    %table.table
      %thead
        %tr
          %th= Spina::Admin::Conferences::PresentationType.human_attribute_name :conference
          %th= Spina::Admin::Conferences::PresentationType.human_attribute_name :name
          %th= Spina::Admin::Conferences::PresentationType.human_attribute_name :duration
          %th

      %tbody
        = render @conference.presentation_types.any? ? @conference.presentation_types : 'empty_list', message: t('spina.admin.conferences.presentation_types.index.no_presentation_types')
