#rooms.tab-content.well
  .table-container
    %table.table
      %thead
        %tr
          %th= Spina::Admin::Conferences::Room.human_attribute_name :building
          %th= Spina::Admin::Conferences::Room.human_attribute_name :number
          %th

      %tbody
        - if @conference.room_possessions.any?
          = render @conference.room_possessions.collect(&:room)

        - else
          %tr
            %td.align-center{ colspan: 100 }
              %em= t('spina.conferences.rooms.no_rooms')
