#presentations.tab-content.well
  .table-container
    %table.table
      %thead
        %tr
          %th= Spina::Conferences::Presentation.human_attribute_name :title
          %th= Spina::Conferences::Presentation.human_attribute_name :presenters
          %th

      %tbody
        - if @conference.presentations.any?
          = render partial: 'spina/admin/conferences/shared/presentation', collection: @conference.presentations

        - else
          %tr
            %td.align-center{ colspan: 100 }
              %em= t('spina.conferences.presentations.no_presentations')
